<%- include("header") -%>

<h>This is about page</h>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus deserunt harum molestias hic ipsam nostrum voluptatem recusandae odit tempora optio error tenetur beatae ratione quia alias, cumque totam quod vel?</p>

<%- include("footer"); -%>
